<% include head/default.ejs %>
<span class="glyphicon glyphicon-new-window" style="font-size: x-large; color: #33d15b" aria-hidden="true"></span>
<span class="glyphicon glyphicon-log-in" style="font-size: x-large; color: #30aad1" aria-hidden="true"></span>
<span class="glyphicon glyphicon-search" style="font-size: x-large; color: #d19025" aria-hidden="true"></span>
<form id="submit_order" class="form-horizontal center-block" style="width: 500px">

    <div id="sender" class="table-bordered well well-lg" style="padding: 10px;">
        <div class="form-group">
            <label for="senderName" class="col-sm-4 control-label">senderName:</label>
            <div class="col-sm-8">
                <input type="text" name="senderName" class="form-control" id="senderName">
            </div>
        </div>
        <div class="form-group">
            <label for="senderPhone" class="col-sm-4 control-label">senderPhone:</label>
            <div class="col-sm-8">
                <input type="number" name="senderPhone" class="form-control" id="senderPhone">
            </div>
        </div>
        <div class="form-group">
            <label for="senderShen" class="col-sm-4 control-label">senderShen:</label>
            <div class="col-sm-8">
                <input type="text" name="senderShen" class="form-control" id="senderShen">
            </div>
        </div>
        <div class="form-group">
            <label for="senderShi" class="col-sm-4 control-label">senderShi:</label>
            <div class="col-sm-8">
                <input type="text" name="senderShi" class="form-control" id="senderShi">
            </div>
        </div>
        <div class="form-group">
            <label for="senderQu" class="col-sm-4 control-label">senderQu"</label>
            <div class="col-sm-8">
                <input type="text" name="senderQu" class="form-control" id="senderQu">
            </div>
        </div>
        <div class="form-group">
            <label for="senderAddress" class="col-sm-4 control-label">senderAddress:</label>
            <div class="col-sm-8">
                <input type="text" name="senderAddress" class="form-control" id="senderAddress">
            </div>
        </div>
   </div><br/>

    <div id="receiver">
        <div class="form-group">
            <label for="receiverName" class="col-sm-4 control-label">receiverName:</label>
            <div class="col-sm-8">
                <input type="text" name="receiverName" class="form-control" id="receiverName">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverPhone" class="col-sm-4 control-label">receiverPhone:</label>
            <div class="col-sm-8">
                <input type="number" name="receiverPhone" class="form-control" id="receiverPhone">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverShen" class="col-sm-4 control-label">receiverShen:</label>
            <div class="col-sm-8">
                <input type="text" name="receiverShen" class="form-control" id="receiverShen">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverShi" class="col-sm-4 control-label">receiverShi:</label>
            <div class="col-sm-8">
                <input type="text" name="receiverShi" class="form-control" id="receiverShi">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverQu" class="col-sm-4 control-label">receiverQu:</label>
            <div class="col-sm-8">
                <input type="text" name="receiverQu" class="form-control" id="receiverQu">
            </div>
        </div>
        <div class="form-group">
            <label for="receiverAddress" class="col-sm-4 control-label">receiverAddress:</label>
            <div class="col-sm-8">
                <input type="text" name="receiverAddress" class="form-control" id="receiverAddress">
            </div>
        </div>
    </div>

    <div id="orderInfo">
        <div class="form-group">
            <label for="orderNumber" class="col-sm-4 control-label">orderNumber:</label>
            <div class="col-sm-8">
                <input type="number" name="orderNumber" class="form-control" id="orderNumber">
            </div>
        </div>
        <div class="form-group">
            <label for="content" class="col-sm-4 control-label">content:</label>
            <div class="col-sm-8">
                <input type="text" name="content" class="form-control" id="content">
            </div>
        </div>
        <div class="form-group">
            <label for="weight" class="col-sm-4 control-label">weight:</label>
            <div class="col-sm-8">
                <input type="number" name="weight" class="form-control" id="weight">
            </div>
        </div>
    </div>

    <nav id="submitOrderButton" class="navbar navbar-default navbar-fixed-bottom">
       <div class="navbar-right navbar-form container-fluid">
           <button class="btn btn-success">
               Submit Your Order
           </button>
       </div>
    </nav>

</form>
