<html>
<head>
  <title>Track | Spark Express</title>
  <% include ../head/default.ejs %>
</head>
<body>
<% include ../nav/default.ejs %>
<div align="center">
  <form class="form-inline" action="/order/track" method="get">
    <div class="form-group">
      <label class="sr-only" for="orderNumber">OrderNumber</label>
      <div class="input-group">
        <input type="text" class="form-control" name="orderNumber" placeholder="Order Number Here">
      </div>
    </div>
    <button type="submit" class="btn btn-primary ">Query</button>
  </form>
</div>
<div class="container">
  <table class="table">
    <% for(var i = routes.length-1; i >= 0; i--) { %>
    <tr style="color: #b6b6b6">
      <td style="width: 10%;">
        <span class="glyphicon glyphicon-record" <% if(i == routes.length-1){ %> style="font-size: x-large; color: rgb(1, 185, 95); left: -4px;" <% } %> aria-hidden="true"></span>
      </td>
      <td <% if(i == routes.length-1){ %> style="color: rgb(1, 185, 95);" <% } %>>
        <%- "["+routes[i].location.name+"] " + routes[i].context + "<br/>" + "<span style='font-size: x-small'>" + routes[i].createdAt +"</span>" %>
      </td>
    </tr>
    <%}%>
  </table>
</div>
</body>
</html>
